 .projects {
   height: 20em;
   width: 25em;
 }

.intro-text {
  color: White;
}

.iframe {
  text-align: center;
  opacity: 1;
}

.foot {
  font-size: 1em;
}

.paragraphs {
  font-family: 'Domine', serif;
  /*font-family: 'Amiri', serif;
  font-family: 'Boogaloo', cursive;
  font-family: 'Sorts Mill Goudy', serif;*/
}

/*font-family: 'Domine', serif;
font-family: 'Amiri', serif;
font-family: 'Boogaloo', cursive;
font-family: 'Sorts Mill Goudy', serif;*/


.projectheaders {
  color: #CFD8D7;
}
